# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

bind 0.0.0.0:{{ ffv_domains[item].id + 10000 }};
bind [::]:{{ ffv_domains[item].id + 10000 }};
interface "fastd-{{ item }}";

status socket "/var/run/fastd-{{ item }}.socket";

log to syslog level warn;

mtu 1426;

method "null@l2tp";
method "salsa2012+umac";
method "null";
secure handshakes no;

{% if fastd_peer_limit != -1 %}
peer limit {{ fastd_peer_limit }};
{% endif %}

# Use "fastd --generate-key" to get secret key
secret "{{ fastd_secret }}";

on verify "/opt/freifunk/server-scripts/blacklist_fastd.py {{ item }} $PEER_KEY && /opt/freifunk/server-scripts/fastd_slow_balancer_check.sh {{ item }}";
include peers from "/opt/freifunk/fastd-whitelisted/all";
include peers from "/opt/freifunk/fastd-whitelisted/{{inventory_hostname}}";

on up "
ip link set address {{ fastd_mac_prefix }}:{{ '%02x' % ffv_domains[item].id }} dev $INTERFACE
ip link set up mtu 1426 master vpn-{{ ffv_domains[item].mesh }} dev $INTERFACE
";
