bind 0.0.0.0:{{ ffv_domains[item].id + 10000 }};
bind [::]:{{ ffv_domains[item].id + 10000 }};
interface "fastd-{{ item }}";

log to syslog level warn;

mtu 1426;

method "salsa2012+umac";
method "null";
secure handshakes no;

peer limit {{ fastd_peer_limit }};

# Use "fastd --generate-key" to get secret key
secret "{{ fastd_secret }}";

on verify "true";
include peers from "/tmp";

on up "
ip link set address {{ fastd_mac_prefix }}:{{ '%02x' % ffv_domains[item].id }} dev $INTERFACE
ip link set up mtu 1426 master vpn-{{ ffv_domains[item].mesh }} dev $INTERFACE
";
