bind 0.0.0.0:{{ ffv_domains[item].id + 10000 }};
bind [::]:{{ ffv_domains[item].id + 10000 }};
interface "fastd-{{ item }}";

status socket "/var/run/fastd-{{ item }}.socket";

log to syslog level warn;

mtu 1426;

method "salsa2012+umac";
method "null";
secure handshakes no;

peer limit {{ fastd_peer_limit }};

# Use "fastd --generate-key" to get secret key
secret "{{ fastd_secret }}";

on verify "/opt/freifunk/server-scripts/blacklist_fastd.py {{ item }} $PEER_KEY";
include peers from "/tmp";

on up "
ip link set address {{ fastd_mac_prefix }}:{{ '%02x' % ffv_domains[item].id }} dev $INTERFACE
ip link set up mtu 1426 master vpn-{{ ffv_domains[item].mesh }} dev $INTERFACE
";
