# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

[defaults]
inventory=hosts
vault_password_file=gpg_vault.sh
interpreter_python=/usr/bin/python3
strategy = mitogen_linear
gathering = explicit

[ssh_connection]
pipelining = True
