[Unit]
Description=bridge vpn-%i setup
Wants=network.target
BindsTo=batadv-bat-%i.service
After=batadv-bat-%i.service
BindsTo=sys-subsystem-net-devices-vpn\x2d%i.device
After=sys-subsystem-net-devices-vpn\x2d%i.device
Requires=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/ip link set dev "vpn-%i" promisc on master bat-%i
ExecStop=/bin/ip link set dev "vpn-%i" nomaster

[Install]
WantedBy=multi-user.target
WantedBy=batadv-bat-%i.service
WantedBy=sys-subsystem-net-devices-vpn\x2d%i.device
