#!/bin/sh
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

set -e

DATADIR=/var/lib/icvpn-meta

cd /etc/tinc/icvpn
git pull -q

cd "$DATADIR"
git pull -q

{% if icvpn %}
/opt/freifunk/icvpn-scripts/mkbgp -x vogtland -p icvpn_ -f bird  -d icvpn -s "$DATADIR" -4 > /var/tmp/bird-icvpn.conf.tmp
mv /var/tmp/bird-icvpn.conf.tmp /var/tmp/bird-icvpn.conf
{% endif %}

/opt/freifunk/icvpn-scripts/mkroa -x vogtland -f bird  -s "$DATADIR" -4 > /var/tmp/bird-icvpn-roa.conf.tmp
mv /var/tmp/bird-icvpn-roa.conf.tmp /var/tmp/bird-icvpn-roa.conf
birdc configure > /dev/null

{% if icvpn %}
/opt/freifunk/icvpn-scripts/mkbgp -x vogtland -p icvpn_ -f bird  -d icvpn -s "$DATADIR" -6 > /var/tmp/bird6-icvpn.conf.tmp
mv /var/tmp/bird6-icvpn.conf.tmp /var/tmp/bird6-icvpn.conf
{% endif %}

/opt/freifunk/icvpn-scripts/mkroa -x vogtland -f bird  -s "$DATADIR" -6 > /var/tmp/bird6-icvpn-roa.conf.tmp
mv /var/tmp/bird6-icvpn-roa.conf.tmp /var/tmp/bird6-icvpn-roa.conf
birdc6 configure > /dev/null

/opt/freifunk/icvpn-scripts/mkdns -s "$DATADIR" -x vogtland -f bind-forward > /var/tmp/bind-icvpn.conf.tmp
mv /var/tmp/bind-icvpn.conf.tmp /var/tmp/bind-icvpn.conf
/usr/sbin/rndc reload
