#!/bin/sh
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

/sbin/ip addr del dev $INTERFACE {{ icvpn_ipv4 }}/16 broadcast {{ icvpn_bcast }}
/sbin/ip -6 addr del dev $INTERFACE {{ icvpn_ipv6 }}/96
/sbin/ip link set dev $INTERFACE down
