[Unit]
Description=Respondd

{% for mesh_name in (mesh.keys() |sort()) %}
After=batadv-bat-{{ mesh_name }}.service
After=sys-subsystem-net-devices-vpn\x2d{{ mesh_name }}.device
{% endfor %}

[Service]
ExecStart=/opt/freifunk/ffnord-alfred-announce/respondd.py -d /opt/freifunk/ffnord-alfred-announce/
{%- for mesh_name in (mesh.keys() |sort())  %}
 -b bat-{{ mesh_name }} -i bat-{{ mesh_name }} -i vxlan-{{ mesh_name }} -i vpn-{{ mesh_name }}
{%- endfor %}

Restart=always
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
