[Unit]
Description=Respondd
After=batadv-bat0.service
After=sys-subsystem-net-devices-vpn\x2dffv.device

[Service]
ExecStart=/opt/freifunk/ffnord-alfred-announce/respondd.py -d /opt/freifunk/ffnord-alfred-announce/ -i bat0 -i dummy0 -i vxlan0 -i vpn-ffv

Restart=always
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
