[Unit]
Description=bridge tunneldigger setup
Wants=network.target
BindsTo=batadv-bat0.service
After=batadv-bat0.service
BindsTo=sys-subsystem-net-devices-tunneldigger.device
After=sys-subsystem-net-devices-tunneldigger.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/ip link set tunneldigger promisc on
ExecStart=/sbin/ebtables -A FORWARD --logical-in tunneldigger -j DROP
ExecStart=/bin/ip link set dev "tunneldigger" master bat0
ExecStop=/bin/ip link set dev "tunneldigger" nomaster
ExecStop=/sbin/ebtables -D FORWARD --logical-in tunneldigger -j DROP

[Install]
WantedBy=multi-user.target
