[Unit]
Description = Start tunneldigger L2TPv3 broker
After = network.target
BindsTo=sys-subsystem-net-devices-vpn\x2dffv.device
After=sys-subsystem-net-devices-vpn\x2dffv.device
After=bridge-vpn@ffv.service
After=iptables.service
PartOf=iptables.service

[Service]
ExecStart = /opt/freifunk/tunneldigger/start-broker.sh

[Install]
WantedBy = multi-user.target
