*filter
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT

-A INPUT -i bat0 -p udp -m udp --match multiport --dports 10000:10004 -j LOG --log-prefix fastdinfastd
-A INPUT -i bat0 -p udp -m udp --match multiport --dports 10000:10004 -j DROP

{% for peer in groups['vpns'] %}
{% if hostvars[peer]['WANIP6'] is defined %}
-A FORWARD -d {{ hostvars[peer]['WANIP6'] }}/128 -i bat0 -p udp -m udp --match multiport --dports 10000:10004 -j LOG --log-prefix fastdinfastd
-A FORWARD -d {{ hostvars[peer]['WANIP6'] }}/128 -i bat0 -p udp -m udp --match multiport --dports 10000:10004 -j DROP
{% endif %}
{% endfor %}
COMMIT

*mangle
:PREROUTING ACCEPT 
:INPUT ACCEPT 
:FORWARD ACCEPT 
:OUTPUT ACCEPT 
:POSTROUTING ACCEPT 
-A PREROUTING -i bat+ -j MARK --set-xmark 0x1/0xffffffff
-A PREROUTING -i icvpn -j MARK --set-xmark 0x1/0xffffffff

{% if ffrl_bb_links %}
-A FORWARD -o bb-+ -p tcp -m tcp --tcp-flags SYN,RST SYN -m tcpmss ! --mss 0:1220 -j TCPMSS --set-mss 1220
{% endif %}

-A FORWARD -o bat0 -p tcp -m tcp --tcp-flags SYN,RST SYN -m tcpmss ! --mss 0:1220 -j TCPMSS --set-mss 1220
COMMIT
