#!/usr/sbin/nft -f
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

flush ruleset

table ip filter {
	chain INPUT {
		type filter hook input priority 0; policy accept;
		udp dport 4790 jump vxlan-drop
		iifname "bat*" udp dport 10000-10099 log prefix "fastdinfastd" drop
	}

	chain FORWARD {
		type filter hook forward priority 0; policy accept;
		iifname "bat*" ip daddr {
			{% for peer in (groups['vpns'] | sort()) -%}
			{%- if hostvars[peer]['WANIP'] is defined %}
				{{ hostvars[peer]['WANIP'] }},
			{% endif -%}
			{%- endfor %}
		} udp dport 10000-10099 log prefix "fastdinfastd" drop
	}

	chain OUTPUT {
		type filter hook output priority 0; policy accept;
	}

	chain vxlan-drop {
		ip saddr {
			{% for peer in (groups['vpns'] | sort()) -%}
			{%- if hostvars[peer]['WANIP'] is defined %}
				{{ hostvars[peer]['WANIP'] }},
			{% endif -%}
			{%- endfor %}
		} return
		log prefix "invalidvxlan" drop
	}
}
table ip mangle {
	chain PREROUTING {
		type filter hook prerouting priority -150; policy accept;
		iifname "bat*" mark set 0x00000001
		iifname "icvpn" mark set 0x00000001

		iifname "bat*" tcp flags & (syn | rst) == syn tcp option maxseg size set 1240
		{% if BACKBONE_IPV4 is defined %}
		iifname "bb-*" tcp flags & (syn | rst) == syn tcp option maxseg size set 1240
		{% endif %}
	}

	chain INPUT {
		type filter hook input priority -150; policy accept;
	}

	chain FORWARD {
		type filter hook forward priority -150; policy accept;
	}

	chain OUTPUT {
		type route hook output priority -150; policy accept;
	}

	chain POSTROUTING {
		type filter hook postrouting priority -150; policy accept;
		oifname "bat*" mark set 0x00000000
		oifname "vxlan0" mark set 0x00000000

		oifname "bat*" tcp flags & (syn | rst) == syn tcp option maxseg size set 1240
		{% if BACKBONE_IPV4 is defined %}
		oifname "bb-*" tcp flags & (syn | rst) == syn tcp option maxseg size set 1240
		{% endif %}
	}
}
table ip nat {
	chain PREROUTING {
		type nat hook prerouting priority -100; policy accept;
	}

	chain INPUT {
		type nat hook input priority 100; policy accept;
	}

	chain POSTROUTING {
		type nat hook postrouting priority 100; policy accept;
		oifname "{{ gateway_if }}" ip saddr {{ vogtland_ipv4 }} masquerade
		{% if BACKBONE_IPV4 is defined %}
		oifname "bb-*" snat to {{ BACKBONE_IPV4 | regex_replace('/.*$', '') }}
		{% endif %}
	}

	chain OUTPUT {
		type nat hook output priority -100; policy accept;
	}
}
table ip6 nat {
	chain PREROUTING {
		type nat hook prerouting priority -100; policy accept;
		ip6 daddr {
			2a03:2260:200f:1337::2,
			2a03:2260:200f:1337::7,
			2a03:2260:200f:1337::8,
			2a03:2260:200f:1337::9,
			2a03:2260:200f:1337::a,
		} udp dport domain redirect to :domain
		ip6 daddr {
			2a03:2260:200f:1337::2,
			2a03:2260:200f:1337::7,
			2a03:2260:200f:1337::8,
			2a03:2260:200f:1337::9,
			2a03:2260:200f:1337::a,
		} tcp dport domain redirect to :domain

		{% if inventory_hostname == "vpn01" -%}
		ip6 daddr {
			2003:49:a051:9000::42,
		} tcp dport http redirect to :http
		ip6 daddr {
			2003:49:a051:9000::42,
		} tcp dport https redirect to :https
		{% endif %}
	}

	chain INPUT {
		type nat hook input priority 100; policy accept;
	}

	chain POSTROUTING {
		type nat hook postrouting priority 100; policy accept;
	}

	chain OUTPUT {
		type nat hook output priority -100; policy accept;
	}
}
table ip6 filter {
	chain INPUT {
		type filter hook input priority 0; policy accept;
		udp sport 4790 jump vxlan-drop
		iifname "bat*" udp dport 10000-10099 log prefix "fastdinfastd" drop
	}

	chain FORWARD {
		type filter hook forward priority 0; policy accept;
		iifname "bat*" ip6 daddr {
			{% for peer in (groups['vpns'] | sort()) -%}
			{%- if hostvars[peer]['WANIP6'] is defined %}
				{{ hostvars[peer]['WANIP6'] }},
			{% endif -%}
			{%- endfor %}
		} udp dport 10000-10099 log prefix "fastdinfastd" drop
	}

	chain OUTPUT {
		type filter hook output priority 0; policy accept;
	}

	chain vxlan-drop {
		ip6 daddr {
			{% for peer in (groups['vpns'] | sort()) -%}
			{%- if hostvars[peer]['WANIP6'] is defined %}
				{{ hostvars[peer]['WANIP6'] }},
			{% endif -%}
			{%- endfor %}
		} return
		log prefix "invalidvxlan" drop
	}
}
table ip6 mangle {
	chain PREROUTING {
		type filter hook prerouting priority -150; policy accept;
		iifname "bat*" mark set 0x00000001
		iifname "icvpn" mark set 0x00000001

		iifname "bat*" tcp flags & (syn | rst) == syn tcp option maxseg size set 1220
		{% if ffrl_bb_links %}
		iifname "bb-*" tcp flags & (syn | rst) == syn tcp option maxseg size set 1220
		{% endif %}
	}

	chain INPUT {
		type filter hook input priority -150; policy accept;
	}

	chain FORWARD {
		type filter hook forward priority -150; policy accept;
	}

	chain OUTPUT {
		type route hook output priority -150; policy accept;
		{% if ffrl_bb_links %}
		ip6 saddr {
			{% for name in (ffrl_bb_links.keys() |sort()) %}
			{{ ffrl_bb_links[name]['ipv6']['src'] }},
			{% endfor %}
		} mark set 0x1
		{% endif %}
	}

	chain POSTROUTING {
		type filter hook postrouting priority -150; policy accept;
		oifname "bat*" mark set 0x00000000
		oifname "vxlan0" mark set 0x00000000

		oifname "bat*" tcp flags & (syn | rst) == syn tcp option maxseg size set 1220
		{% if ffrl_bb_links %}
		oifname "bb-*" tcp flags & (syn | rst) == syn tcp option maxseg size set 1220
		{% endif %}
		jump no_native_routing
	}

	chain no_native_routing {
		oifname != {{ gateway_if }} return
		ip6 saddr fe80::/16 return
		ip6 saddr {{ WANIP6 }} return
		{% if inventory_hostname == "vpn01" -%}
		ip6 saddr 2003:49:a051::8888/64 return
		ip6 saddr 2003:49:a051:9000::1337/52 return
		{% endif %}
		# log prefix "wrong_output_ip6"
		drop
	}
}

table bridge filter {
	chain INPUT {
		type filter hook input priority -200; policy accept;
	}

	chain FORWARD {
		type filter hook forward priority -200; policy accept;
		{% for mesh_name in (mesh.keys() |sort())  %}
		meta ibrname "vpn-{{ mesh_name }}" drop
		{% endfor %}
	}

	chain OUTPUT {
		type filter hook output priority -200; policy accept;
	}
}
