[Unit]
Description=Respondd
After=batadv-bat0.service server-scripts.service

[Service]
ExecStart=/opt/freifunk/ffnord-alfred-announce/respondd.py -d /opt/freifunk/ffnord-alfred-announce/ -i bat0 -i dummy0 -i fastd-mesh0 -i fastd-mesh1 -i fastd-mesh2 -i fastd-mesh3 -i tunneldigger -i vxlan0
Restart=always
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
