# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

router id {{ BGPID }};
listen bgp v6only;
table igp_t;

protocol direct {
	interface "*";  # Restrict network interfaces it works with
}

protocol kernel {
	device routes;
	import all;
	export all;
	kernel table 100;
}

protocol device {
	scan time 10;
}

protocol static unreachable_default {
	preference 0;
	route ::/0 reject;
}

function is_default() {
	return (net ~ [::/0]);
}

# own networks
function is_self_net() {
	return net ~ [ {{ ffrl_ipv6_subnet }}+ ];
}

# freifunk ip ranges in general
function is_freifunk() {
	return net ~ [
		fc00::/7{48,64},
		2001:bf7::/32+
	];
}

# transition networks
function is_transition() {
	return (net ~ [
		fec0::a:cf:0:0/96+
	]);
}

filter hostroute {
	if net.len > 56 then reject;
	if source = RTS_BGP then reject;
	if net ~ {{ ffrl_ipv6_subnet }} then accept;
	reject;
}

roa table icvpn_roa {
{% if icvpn %}
	include "/var/tmp/bird6-icvpn-roa.conf";
{% endif %}
}

filter icvpn_in {
	if !is_freifunk() then reject;
	if is_self_net() then reject;
	if roa_check(icvpn_roa, net, bgp_path.last) = ROA_INVALID then {
		print "ROA check failed for ", net, " ASN ", bgp_path.last;
		reject;
	}
	accept;
}

filter icvpn_out {
	if is_self_net() then accept;
	if source = RTS_BGP then {
		if is_freifunk() then accept;
	}
	reject;
}

protocol ospf o_mesh {
	table igp_t;
	preference 90;
	import where is_default() || is_self_net() || is_transition();
	export where is_self_net() || is_transition();
	area 0 {
{% if icvpn %}
		networks {
			fec0::a:cf:0:0/96;
		};
{% endif %}
		interface "vxlan0" {
			type nonbroadcast;
			neighbors {
{% for peer in (groups['vpns'] | difference([inventory_hostname]) | sort()) %}
				{{ hostvars[peer]['bgp_ipv6'] | ipaddr('address') }} eligible;
{% endfor %}
			};
		};
	};
};

# ibgp zwischen den gateways
template bgp internal {
	igp table igp_t;
	local as {{ OWNASN }};
	import filter {
		preference = 99;
		accept;
	};
	export filter {
		if source = RTS_BGP then accept;
		if net ~ {{ ffrl_ipv6_subnet }} then accept;
		reject;
	};
	direct;
};

{% for peer in (groups['vpns'] | difference([inventory_hostname]) | sort()) %}
protocol bgp {{ peer }} from internal {
	neighbor {{ hostvars[peer]['bgp_ipv6'] | ipaddr('address') }} as {{ OWNASN }};
}
{% endfor %}

# Uplink zum FF Rheinland
template bgp uplink {
	local as {{ OWNASN }};
	import where is_default();
	export filter hostroute;
	gateway recursive;
}

{% for name in (ffrl_bb_links.keys() |sort()) %}
protocol bgp {{ name }} from uplink {
	source address {{ ffrl_bb_links[name].ipv6.src }};
	neighbor {{ ffrl_bb_links[name].ipv6.dst }} as {{ ffrl_bb_asn }};
};
{% endfor %}

# template for icvpn gateways of other cities
template bgp icvpn {
	local as {{ OWNASN }};
	# ignore routes for our own network
	import filter icvpn_in;
	export filter icvpn_out;
	route limit 10000;
	direct;
};

{% if icvpn %}
# aus ICVPN Meta erzeugte konfiguration
include "/var/tmp/bird6-icvpn.conf";
{% endif %}

protocol static {
	import all;
	export all;

{% for mesh_name in (mesh.keys() |sort()) %}
	route {{ mesh[mesh_name]['ipv6']['subnet'] }} via "bat-{{ mesh_name }}";
{% endfor %}
	route {{ OLDRANGEV6 }} via "bat-ffv";
	route {{ ROUTERRANGEV6 }} via "bb_ipv4";
}
