# export routing table to 100/freifunk
protocol kernel kernel6 {
	learn;
	ipv6 {
		import none;
		export all;
	};
	kernel table 100;
};

protocol static unreachable_default6 {
	ipv6 {
		preference 0;
	};

	route ::/0 reject;
}

{% if DIRECTV6 == "1" %}
protocol static direct_default6 {
	ipv6;

	route ::/0 via {{ WANGW6 }}%{{ gateway_if }};
}
{% endif %}

function is_default6() {
	return (net ~ [::/0]);
}

# own networks
function is_self_net6() {
	return net ~ [ {{ ffrl_ipv6_subnet }}+ ];
}

# freifunk ip ranges in general
function is_freifunk6() {
	return net ~ [
		fc00::/7{48,64},
		2001:bf7::/32+
	];
}

# transition networks
function is_transition6() {
	return (net ~ [
		fec0::a:cf:0:0/96+
	]);
}

filter hostroute6 {
	if net.len > 56 then reject;
	if net ~ {{ ffrl_ipv6_subnet }} then accept;
	reject;
}

function reject_remote_peer_subnet6()
{
	{% for peer in (groups['vpns'] | difference([inventory_hostname]) | sort()) -%}
		{% for mesh_name in (hostvars[peer]['mesh'].keys() |sort()) %}
		if net ~ {{ hostvars[peer]['mesh'][mesh_name]['ipv6']['subnet'] }} then
			reject;
		{% endfor %}
	{%- endfor %}
}

roa6 table icvpn_roa6 {
{% if icvpn %}
#	include "/var/tmp/bird6-icvpn-roa.conf";
{% endif %}
}

filter icvpn_in6 {
	if !is_freifunk6() then reject;
	if is_self_net6() then reject;
	if roa_check(icvpn_roa6, net, bgp_path.last) = ROA_INVALID then {
		print "ROA check failed for ", net, " ASN ", bgp_path.last;
		reject;
	}
	accept;
}

filter icvpn_out6 {
	reject_remote_peer_subnet6();
	if is_self_net6() then accept;
	if source = RTS_BGP then {
		if is_freifunk6() then accept;
	}
	reject;
}

# template for icvpn gateways of other cities
template bgp icvpn6 {
	local as {{ OWNASN }};
	ipv6 {
		# ignore routes for our own network
		import filter icvpn_in6;
		export filter icvpn_out6;
		import limit 10000;
	};
	direct;
};

{% if icvpn %}
# aus ICVPN Meta erzeugte konfiguration
include "/var/tmp/bird6-icvpn.conf";
{% endif %}

protocol static ffv6 {
	ipv6 {
		import all;
		export all;
	};

	{% for peer in (groups['vpns'] | sort()) -%}
		{% for mesh_name in (hostvars[peer]['mesh'].keys() |sort()) %}
		route {{ hostvars[peer]['mesh'][mesh_name]['ipv6']['subnet'] }} via "bat-{{ mesh_name }}";
		{% endfor %}
	{%- endfor %}

	route {{ OLDRANGEV6 }} via "bat-ffv";
	route {{ ROUTERRANGEV6 }} via "bb_ipv4";
}

# ibgp zwischen den gateways
template bgp internal_t6 {
	local as {{ OWNASN }};
        ipv6 {
		import filter {
			preference = 99;
			accept;
		};
		export filter {
			reject_remote_peer_subnet6();
			if source = RTS_BGP then accept;
			if net ~ {{ ffrl_ipv6_subnet }} then accept;
			reject;
		};
	};
	direct;
};

{% for peer in (groups['vpns'] | difference([inventory_hostname]) | sort()) %}
protocol bgp {{ peer }}_v6 from internal_t6 {
	neighbor {{ hostvars[peer]['bgp_ipv6'] | ansible.utils.ipaddr('address') }} as {{ OWNASN }};
}
{% endfor %}

# Uplink zum FF Rheinland
template bgp uplink6 {
	local as {{ OWNASN }};
	ipv6 {
		import where is_default6();
		export filter hostroute6;
		gateway recursive;
	};
}

{% for name in (ffrl_bb_links.keys() |sort()) %}
protocol bgp {{ name }}_v6 from uplink6 {
	source address {{ ffrl_bb_links[name].ipv6.src }};
	neighbor {{ ffrl_bb_links[name].ipv6.dst }} as {{ ffrl_bb_asn }};
};
{% endfor %}
