# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

router id {{ BGPID }};

# Log configuration
log syslog all;

protocol device {
	scan time 10;
};

protocol direct direct1 {
	ipv4;
	ipv6;

	interface "bat-*";
	interface "bb-*";
	interface "bb_ipv4";
	interface "vxlan0";
	interface "icvpn";
};

include "/etc/bird/bird4.conf";
include "/etc/bird/bird6.conf";
