[Match]
Name=bat-{{ mesh_name }}

[Network]
Address={{ mesh[mesh_name]['ipv4']['ip'] }}/{{ mesh[mesh_name]['ipv4']['subnet'] | ipaddr('prefix') }}
Address={{ ROUTERIDV6 }}/48
# drop /56 and address translation and let ffrl export handle the /56
# "aggregation
Address={{ mesh[mesh_name]['ipv6']['ip'] | ipaddr('address') }}/56
IPv6AcceptRA=no
