[Match]
Name=bat0

[Network]
Address={{ ROUTERID }}/{{ ffv_ipv4_subnet | ipaddr('prefix') }}
Address={{ ROUTERIDV6 }}/48
# drop /56 and address translation and let ffrl export handle the /56
# "aggregation
Address={{ ROUTERIPV6 | ipaddr('address') }}/56
IPv6AcceptRA=no
