[Unit]
Description=bat0 setup
Wants=network.target
BindsTo=sys-subsystem-net-devices-dummy\x2dbat0.device
After=sys-subsystem-net-devices-dummy\x2dbat0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/ip link set up dummy-bat0
ExecStart=/usr/sbin/batctl -m bat0 if add dummy-bat0
ExecStart=/usr/sbin/batctl -m bat0 gw {{ dnsmasq | ternary('server', 'off') }}
ExecStart=/usr/sbin/batctl -m bat0 bonding 1
ExecStart=/usr/sbin/batctl -m bat0 bridge_loop_avoidance 1
ExecStart=/usr/sbin/batctl -m bat0 orig_interval 5000
ExecStart=/bin/sh -c '/bin/echo 60 > /sys/devices/virtual/net/bat0/mesh/hop_penalty'
ExecStart=-/usr/sbin/batctl -m bat0 nc disable

[Install]
WantedBy=multi-user.target
