# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

[Unit]
Description=bat-{{ mesh_name }} setup
Wants=network.target
BindsTo=sys-subsystem-net-devices-dummy\x2dbat\x2d{{ mesh_name }}.device
After=sys-subsystem-net-devices-dummy\x2dbat\x2d{{ mesh_name }}.device
Requires=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/ip link add dev bat-{{ mesh_name }} type batadv
ExecStart=/bin/ip link set dev dummy-bat-{{ mesh_name }} up master bat-{{ mesh_name }}
ExecStart=/usr/sbin/batctl meshif bat-{{ mesh_name }} gw {{ dnsmasq | ternary('server', 'off') }}
ExecStart=/usr/sbin/batctl meshif bat-{{ mesh_name }} bonding 1
ExecStart=/usr/sbin/batctl meshif bat-{{ mesh_name }} bridge_loop_avoidance 1
ExecStart=/usr/sbin/batctl meshif bat-{{ mesh_name }} orig_interval 5000
ExecStart=/usr/sbin/batctl meshif bat-{{ mesh_name }} hop_penalty 60
ExecStart=-/usr/sbin/batctl meshif bat-{{ mesh_name }} nc disable
ExecStart=-/usr/sbin/batctl meshif bat-{{ mesh_name }} mff enable
ExecStart=-/usr/sbin/batctl meshif bat-{{ mesh_name }} mo 500
ExecStop=/bin/ip link del dev bat-{{ mesh_name }}

[Install]
WantedBy=multi-user.target
WantedBy=sys-subsystem-net-devices-dummy\x2dbat\x2d{{ mesh_name }}.device
