# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

[NetDev]
Name=br-{{ mesh_name }}
Kind=bridge
MACAddress={{ mesh[mesh_name]['batadv']['brmac'] }}
MTUBytes=1500
