# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

[NetDev]
Name=vpn-{{ mesh_name }}
Kind=bridge
MACAddress={{ '02:12:7b:00:%02x:%02x'|format(vpnid|int, mesh[mesh_name]['id']|int) }}
MTUBytes=1426
