# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

[Unit]
Description=yanic

{% for mesh_name in (mesh.keys() |sort()) %}
After=sys-subsystem-net-devices-bat\x2d{{ mesh_name }}.device
BindTo=sys-subsystem-net-devices-bat\x2d{{ mesh_name }}.device
{% endfor %}

[Service]
Type=simple
User=yanic
ExecStart=/usr/bin/yanic serve --config /etc/yanic.conf
Restart=always
RestartSec=5s
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
{% for mesh_name in (mesh.keys() |sort()) %}
WantedBy=sys-subsystem-net-devices-bat\x2d{{ mesh_name }}.device
{% endfor %}
