# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

[Unit]
Description=Server-Statistics Timer

[Timer]
Unit=server-statistics.service
OnBootSec=0
OnUnitActiveSec=1min

[Install]
WantedBy=multi-user.target
