# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

{% for mesh_name in (mesh.keys() |sort()) %}

interface bat-{{ mesh_name }} {
  AdvSendAdvert on;
  IgnoreIfMissing on;

  AdvManagedFlag off;
  AdvOtherConfigFlag on;

  MaxRtrAdvInterval 30;

  prefix {{ mesh[mesh_name]['ipv6']['subnet'] }} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
    AdvValidLifetime 7200;
    AdvPreferredLifetime 300;
  };


{% if mesh_name == 'ffv' %}
  RDNSS {{ mesh[mesh_name]['ipv6']['ip'] | ansible.utils.ipaddr('address') }} {
  };
{% endif %}

};

{% endfor %}
