{% for mesh_name in (mesh.keys() |sort()) %}

interface bat-{{ mesh_name }} {
  AdvSendAdvert on;
  IgnoreIfMissing on;

  AdvManagedFlag off;
  AdvOtherConfigFlag on;
  AdvLinkMTU 1280;

  MaxRtrAdvInterval 30;

  prefix {{ mesh[mesh_name]['ipv6']['subnet'] }} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
  };


{% if mesh_name == 'ffv' %}
  RDNSS {{ mesh[mesh_name]['ipv6']['ip'] | ipaddr('address') }} {
  };
{% endif %}

};

{% endfor %}
