WANIF="{{ gateway_if }}"
WANIP="{{ WANIP }}"
WANGW="{{ WANGW }}"
WANGW6="{{ WANGW6 }}"

OWNASN="{{ OWNASN }}"
ROUTERID="{{ ROUTERID }}"
ROUTERIDV6="{{ ROUTERIDV6 }}"
BACKBONE_IPV4="{{ BACKBONE_IPV4 }}"
BACKBONE_IPV6="{{ BACKBONE_IPV6 }}"

SERVICE_ADDRESSES=(${ROUTERID})

USE_FASTD="{{ USE_FASTD }}"
USE_BIRD="{{ USE_BIRD }}"
USE_MESHVIEWER="{{ meshviewer }}"
SHAPE_LIMIT="{{ SHAPE_LIMIT }}"
DIRECT="{{ DIRECT }}"
