WANIF="{{ gateway_if }}"
WANIP="{{ WANIP }}"

BACKBONE_IPV4="{{ BACKBONE_IPV4 }}"
BACKBONE_IPV6="{{ BACKBONE_IPV6 }}"

USE_MESHVIEWER="{{ meshviewer }}"
SHAPE_LIMIT="{{ SHAPE_LIMIT }}"
DIRECT="{{ DIRECT }}"
