[Unit]
Description=Server-Scripts-Watchdog

[Service]
ExecStart=/opt/freifunk/server-scripts/initd-ffc.sh watchdog
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
