[Unit]
Description=server-scripts
After=batadv-bat0.service

[Service]
ExecStart=/opt/freifunk/server-scripts/initd-ffc.sh start
Restart=no
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
