# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017-2020, Sven Eckelmann <sven@narfation.org>

local=/ffv/
domain=ffv
no-ping
no-hosts

{% for name in (mesh.keys() |sort()) %}
interface=bat-{{ name }}
{% endfor %}

bind-dynamic
dhcp-authoritative

{% for name in (mesh.keys() |sort()) %}
dhcp-range=bat-{{ name }},{{ mesh[name]['dnsmasq']['start'] }},{{ mesh[name]['dnsmasq']['end'] }},{{ mesh[name]['ipv4']['subnet'] | ansible.utils.ipaddr('netmask') }},30m
dhcp-option=bat-{{ name }},3,{{ mesh[name]['ipv4']['ip'] }}

{% if name == 'ffv' %}
dhcp-option=bat-{{ name }},6,{{ mesh[name]['ipv4']['ip'] }}
{% else %}
dhcp-option=bat-{{ name }},6,{{ mesh[name]['ipv4']['subnet'] | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }}
{% endif %}

{% endfor %}

dhcp-option=119,ffv
except-interface=lo

read-ethers
addn-hosts=/opt/freifunk/dns/hosts

listen-address=127.0.0.1
port=5300
