local=/ffv/
domain=ffv
no-ping
no-hosts
interface=bat0
bind-dynamic
dhcp-authoritative
dhcp-range=bat0,{{ DNSMASQ_RANGE }},{{ ffv_ipv4_subnet | ipaddr('netmask') }},30m
dhcp-option=bat0,3,{{ ROUTERID }}
dhcp-option=bat0,6,{{ ROUTERID }}
dhcp-option=119,ffv
dhcp-option=26,1394
no-resolv
server=8.8.4.4
server=8.8.8.8
server=2001:4860:4860::8888
server=2001:4860:4860::8844
except-interface=lo
read-ethers

addn-hosts=/opt/freifunk/dns/hosts

conf-file=/var/tmp/dnsmasq-icvpn.conf
host-record=nexnode,nextnode.ffv,10.204.0.1,2a03:2260:200f:1337::a
