local=/ffv/
domain=ffv
no-ping
no-hosts

{% for name in (mesh.keys() |sort()) %}
interface=bat-{{ name }}
{% endfor %}

bind-dynamic
dhcp-authoritative

{% for name in (mesh.keys() |sort()) %}
dhcp-range=bat-{{ name }},{{ mesh[name]['dnsmasq']['start'] }},{{ mesh[name]['dnsmasq']['end'] }},{{ mesh[name]['ipv4']['subnet'] | ipaddr('netmask') }},30m
dhcp-option=bat-{{ name }},3,{{ mesh[name]['ipv4']['ip'] }}

{% if name == 'ffv' %}
dhcp-option=bat-{{ name }},6,8.8.8.8
{% else %}
dhcp-option=bat-{{ name }},6,8.8.8.8
{% endif %}

{% endfor %}

dhcp-option=119,ffv
dhcp-option=26,1394
no-resolv
server=8.8.4.4
server=8.8.8.8
server=2001:4860:4860::8888
server=2001:4860:4860::8844
except-interface=lo
read-ethers

addn-hosts=/opt/freifunk/dns/hosts

conf-file=/var/tmp/dnsmasq-icvpn.conf
host-record=nextnode,nextnode.ffv,10.204.0.1,2a03:2260:200f:1337::a
